<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pokemon</title>
</head>
<body>
<h1>Add a Pokemon</h1>
<form action="/add" method="post">
    <label for="name">Name: </label>
    <input name="name" type="text">

    <label for="speed">Speed: </label>
    <input name="speed" type="number">

    <label for="special_defence">Special Defence: </label>
    <input name="special_defence" type="number">

    <label for="special_attack">Special Attack: </label>
    <input name="special_attack" type="number">

    <label for="defence">Defence: </label>
    <input name="defence" type="number">

    <label for="attack">Attack: </label>
    <input name="attack" type="number">

    <label for="hp">Hp: </label>
    <input name="hp" type="number">

    <label for="primary_type">Primary Type: </label>
    <input name="primary_type" type="text">

    <label for="secondary_type">Secondary Type: </label>
    <input name="secondary_type" type="text">


    <button type="submit">Add the Pokemon</button>

</form>


</body>
</html>